<h4>Seleccione un distrito de ClearDB</h4>

<div class="row">
	 <div class="col-xs-6 col-md-6">
		<div class="form-group">
        	<label>Distrito</label>
			<div class="contenedor-input-autocomplete" style="">
                <input type="text" id="txtDistrito" name="distrito" name="titulo" style="" class="form-control" value=""/> <label id="txtIdDistrito" class="oculto"></label>
                <div id="sugerenciaTxtDistrito" class="sugerencia-contenedor oculto"></div>
            </div> 
        </div>
     </div>
</div>